* {
  font-family: "Georgia", sans-serif;
  text-align: center;
}

body {
  margin: 5px;
}

.topic{
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

button {
  padding: 10px;
}

#toolbar *{
  color: rgb(70,70,70);;
  font-weight: bold;
  background-color: rgb(105, 255, 102);
}

#toolbar {
  position: sticky;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content{
  position: absolute;
  display: none;
  z-index: 1;
  min-width: 160px;
}

.dropdown_content a{
  display:block;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

.dropdown_content a:hover{
  background-color: pink;
}

.dropdown:hover .dropdown_content{
  display: block;
}